<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Chatroom</title>

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">
  <link href="/css/chatroom.css" rel="stylesheet">

</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a class="logo" href="/views/home_employee.html"><img
          src="https://giadinh.edu.vn/s-img/logo-dai-hoc-gia-dinh.png?v-2" alt="" srcset="" style="width:10% ;"><b>GIA
          DINH<span> University</span></b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#" onclick="dang_xuat()">Đăng xuất</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered">
            <a href="#"><img src="/images/thuong.jpg" class="img-circle" width="80"></a>
          </p>
          <h5 class="centered" id="FullName_Info"></h5>
          <li class="sub-menu">
            <a href="/views/home_employee.html">
              <i class="fa fa-th"></i>
              <span>Nhân viên</span></a>
            <ul class="sub">
              <li><a href="/views/home_employee.html">Danh sách nhân viên</a></li>
              <li><a href="/views/add_employee.html">Thêm nhân viên</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="/views/calendar.html">
              <i class="fa fa-calendar"></i>
              <span>Lịch</span></a>
          </li>
          <li class="sub-menu">
            <a href="/views/chat_room.html" class="active">
              <i class="fa fa-comments-o"></i>
              <span> Chat Room</a>
            </span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Cài Đặt</span>
            </a>
            <ul class="sub">
              <li><a href="/views/change_password.html">Đổi mật khẩu</a></li>
              <li><a href="#">Khác</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>

    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
          <aside class="mid-side">
            <div class="chat-room-head">

              <div class="row pad3">
                <div class="col-sm-8">
                  <h3 style="color:#797979;">Chat Room</h3>
                </div>
                <div class="col-sm-1" style="margin-top: 10px;font-size: 15px;text-align: right ; color:#797979;">
                  Search:</div>
                <div class="col-sm-3 chat-room-head bg ">
                  <input id="search_info" type="text;" oninput="setCustomValidity('')" placeholder="Thông tin tìm kiếm"
                    class="form-control search-btn" autocomplete="on">
                </div>
              </div>

            </div>
            <hr>
            <div id="dataScroll" class="card-body msg_card_body custom-scrollbar-css">
              <div id="messages">

                <!-- <div class="group-rom">
                  <div class="third-part">12:30</div>
                  <div class="second-part full" style="text-align: right;">
                    <div class="font_1" style="color:white;">Hi Mark, have ajahskjdhaskjdhsajdsadasdsadsadhsadjsahjdksahjdshakdhs  </div> </div>
                </div>


                <div class="group-rom" style="background-color: #f7f8fa;">
                  <div class="first-part odd">Thương Nguyễn</div>
                  <div class="second-part" style="text-align: left;">Hi Mark, have a minute?</div>
                  <div class="third-part" style="text-align: right;">12:30</div>
                </div> -->


              </div>
            </div>
            <footer>
              <div class="chat-txt">
                <input type="text" id="messaage" placeholder="Type a message" class="form-control">
              </div>
              <div class="btn-group hidden-sm hidden-xs">
                <button type="button" class="btn btn-white"><i class="fa fa-meh-o"></i></button>
                <button type="button" class="btn btn-white"><i class=" fa fa-paperclip"></i></button>
              </div>
              <button class="btn btn-theme" onclick="sendMessage()">Send</button>
            </footer>
          </aside>
          <aside class="right-side">
            <div class="user-head">
              <a href="#" class="chat-tools btn-theme"><i class="fa fa-cog"></i> </a>
              <a href="#" class="chat-tools btn-theme03"><i class="fa fa-key"></i> </a>
            </div>
            <div class="invite-row">
              <h4 class="pull-left">Team Members</h4>
              <a href="#" class="btn btn-theme04 pull-right">+ Invite</a>
            </div>
            <ul class="chat-available-user" id="iconEmployeeJoin">

              <li>
                <a href="chat_room.html">
                  <img class="img-circle" src="/images/thuong.jpg" width="32">
                  Frank Arias

                </a>
              </li>
              <li>
                <a href="chat_room.html">
                  <img class="img-circle" src="/images/thuong.jpg" width="32">
                  Frank Arias

                </a>
              </li>
              <li>
                <a href="chat_room.html">
                  <img class="img-circle" src="/images/thuong.jpg" width="32">
                  Frank Arias

                </a>
              </li>


            </ul>
          </aside>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Thông tin liên hệ <strong>Thương Nguyễn, Hiếu Nguyễn, Thanh Thanh</strong>. Thanks
        </p>
        <a href="/views/chat_room.html" class="go-top">
          <i class="fa fa-angle-up"></i>
        </a>
    </footer>
    <input id="content_home_employee" hidden/>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/lib/jquery.scrollTo.min.js"></script>
  <script src="/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-database.js"></script>
  <!--common script for all pages-->
  <script src="/lib/common-scripts.js"></script>
  <!--script for this page-->
  <script src="/js/data.js"></script>
  <script src="/js/chatroom.js"></script>
  <script src="/js/home.js"></script>



</body>

</html>