<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Chatroom</title>

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">
  <link href="/css/chatroom.css" rel="stylesheet">

</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a class="logo"  href="/views/home_employee.html"><img src="https://giadinh.edu.vn/s-img/logo-dai-hoc-gia-dinh.png?v-2" alt="" srcset="" style="width:10% ;"><b>GIA DINH<span> University</span></b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/views/login.html">Đăng xuất</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <aside>
          <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
              <p class="centered">
                <a href="#"><img src="/images/thuong.jpg" class="img-circle" width="80"></a>
              </p>
              <h5 class="centered">Thương</h5>
              <li class="sub-menu">
                <a href="/views/home_employee.html" >
                  <i class="fa fa-th" ></i>
                  <span>Nhân viên</span></a>
                  <ul class="sub">
                    <li><a href="/views/home_employee.html">Danh sách nhân viên</a></li>
                    <li><a href="/views/add_employee.html">Thêm nhân viên</a></li>
                 </ul>
              </li>
              <li class="sub-menu">
                <a href="/views/calendar.html" >
                  <i class="fa fa-calendar" ></i>
                  <span>Lịch</span></a>
              </li>
              <li class="sub-menu">
                <a href="/views/chat_room.html"  class="active">
                  <i class="fa fa-comments-o"></i>
                  <span> Chat Room</a>
                  </span>
                  </a>
              </li>
              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-desktop"></i>
                  <span>Cài Đặt</span>
                  </a>
                <ul class="sub">
                  <li><a href="/views/change_password.html">Đổi mật khẩu</a></li>
                  <li><a href="#">Khác</a></li>
               </ul>
              </li>
            </ul>
            <!-- sidebar menu end-->
          </div>
        </aside>
      
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="container py-5 px-4">
          <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-5 px-0">
              <div class="bg-white">
                <div class="bg-gray px-4 py-2 bg-light">
                  <p class="h5 mb-0 py-1">Recent</p>
                </div>
                <div class="messages-box">
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action active text-white rounded-0">
                      <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                          alt="user" width="50" class="rounded-circle">
                        <div class="media-body ml-4">
                          <div class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">25 Dec</small>
                          </div>
                          <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incididunt ut labore.</p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                      <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                          alt="user" width="50" class="rounded-circle">
                        <div class="media-body ml-4">
                          <div class="d-flex align-items-center justify-content-between mb-1">
                            <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">14 Dec</small>
                          </div>
                          <p class="font-italic text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur.
                            incididunt ut labore.</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Chat Box-->
            <div class="col-7 px-0" id="dataScroll">
              <div class="px-4 py-5 chat-box bg-white" id="messages">
                <!-- Sender Message-->
                <!-- <div class="media w-50 mb-3"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50"
                    class="rounded-circle">
                  <div class="media-body ml-3">
                    <div class="bg-light rounded py-2 px-3 mb-2">
                      <p class="text-small mb-0 text-muted">Test which is a new approach all solutions</p>
                    </div>
                    <p class="small text-muted">12:00 PM | Aug 13</p>
                  </div>
                </div> -->
      
                <!-- Reciever Message-->
                <!-- <div class="media w-50 ml-auto mb-3">
                  <div class="media-body">
                    <div class="bg-primary rounded py-2 px-3 mb-2">
                      <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
                    </div>
                    <p class="small text-muted">12:00 PM | Aug 13</p>
                  </div>
                </div> -->
      
              </div>
      
              <!-- Typing area -->
              <form action="#" class="bg-light">
                <div class="input-group">
                  <input type="text" id="messaage" placeholder="Type a message" aria-describedby="button-addon2"
                    class="form-control rounded-0 border-0 py-4 bg-light">
                  <div class="input-group-append">
                    <button id="button-addon2" type="button" onclick="sendMessage()" class="btn btn-link"> <i
                        class="fa fa-paper-plane"></i>Submit</button>
                  </div>
                </div>
              </form>
      
            </div>
          </div>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Thông tin liên hệ  <strong>Thương Nguyễn, Hiếu Nguyễn, Thanh Thanh</strong>. Thanks
        </p>
        <a href="/views/chat_room.html" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/lib/jquery.scrollTo.min.js"></script>
  <script src="/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="/lib/common-scripts.js"></script>
  <!--script for this page-->
  <script src="/js/chatroom.js"></script>

</body>

</html>
