<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Home</title>

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">

</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a class="logo" href="/views/home_employee.html"><img
          src="https://giadinh.edu.vn/s-img/logo-dai-hoc-gia-dinh.png?v-2" alt="" srcset="" style="width:10% ;"><b>GIA
          DINH<span> University</span></b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li>
            <a class="logout" href="#" onclick="dang_xuat()">Đăng xuất</a>
          </li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered">
            <a href="#"><img src="/images/thuong.jpg" class="img-circle" width="80"></a>
          </p>
          <h5 class="centered" id="FullName_Info"></h5>
          <li class="sub-menu">
            <a href="/views/home_employee.html" class="active">
              <i class="fa fa-th"></i>
              <span>Nhân viên</span></a>
            <ul class="sub">
              <li><a href="/views/home_employee.html">Danh sách nhân viên</a></li>
              <li><a href="/views/add_employee.html">Thêm nhân viên</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="/views/calendar.html">
              <i class="fa fa-calendar"></i>
              <span>Lịch</span></a>
          </li>
          <li class="sub-menu">
            <a href="/views/chat_room.html">
              <i class="fa fa-comments-o"></i>
              <span> Chat Room</a>
            </span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Cài Đặt</span>
            </a>
            <ul class="sub">
              <li><a href="/views/change_password.html">Đổi mật khẩu</a></li>
              <li><a href="#">Khác</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Tài khoản</h3>
        <div class="row">
          <!-- /col-md-12 -->
          <div class="col-sm-12 mt">
            <div class="content-panel">
              <table class="table table-hover">
                     <div class="row">
                  <div class="col-sm-8">
                    <h4><i class="fa fa-angle-right"></i>Tài khoản nhân viên</h4>
                  </div>
                  <div class="col-sm-1" style="margin-top: 10px;font-size: 15px;text-align: right;">Search:</div>
                  <div class="col-sm-3 chat-room-head bg ">
                      <input id="search_info"  type="text;" oninput="setCustomValidity('')" placeholder="Thông tin tìm kiếm" class="form-control search-btn" autocomplete="on">           
                  </div> 
                </div>
                <hr>
                <thead>
                  <tr>
                    <th>Email</th>
                    <th>Password</th>
                    <th>FullName</th>
                    <th>Role</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody id="content_home_employee">

                </tbody>
              </table>
            </div>
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
      </section>
    </section>

    <!-- Modal Sửa -->
    <div class="modal fade" id="modelIdSua" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sửa Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="FullName">Fullname</label>
              <input type="text" class="form-control" name="" id="FullName" aria-describedby="helpId" placeholder=""
                >

              <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="" id="Email" aria-describedby="helpId" placeholder=""
                  readonly>

              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="" id="Password" aria-describedby="helpId" readonly
                  placeholder="">
              </div>
              <div class="form-group">
                <label for="Role">Role</label>
                <select class="form-control" name=""  id="Role">
                  <option value="manage">manage</option>
                  <option value="employee">employee</option>
                  <option value="admin">admin</option>
                  <option value="user">user</option>
                </select>
              </div>
              


            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeSua" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="DongYSua()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer ">
      <div class="text-center">
        <p>
          &copy; Thông tin liên hệ <strong>Thương Nguyễn, Hiếu Nguyễn, Thanh Thanh</strong>. Thanks
        </p>
        <a href="/views/home_employee.html" class="go-top">
          <i class="fa fa-angle-up"></i>
        </a>
    </footer>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/lib/jquery.scrollTo.min.js"></script>
    <script src="/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="/lib/common-scripts.js"></script>
    <script src="/js/data.js"></script>
    <script src="/js/home.js"></script>
    <!--script for this page-->

</body>

</html>