<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://giadinh.edu.vn/s-img/logo-dai-hoc-gia-dinh.png?v-2"
                width="20%" alt=""></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#modelId">Thêm nhân viên</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
            <li class="nav-item" style="list-style: none;">
                <button type="button" class="btn btn-outline-danger" onclick="dang_xuat()">Đăng xuất</button>
            </li>

        </div>
    </nav>
    <div class="container-fuide">
        <div class="row">
            <div class="col-sm-3 bg-primary heght1" style="text-align: center;height: 530px;">
                <img class="rounded-circle mt-3" src="/images/94975799_563246997653225_3276177959349649408_n.jpg" alt="">
                <div id="FullName_out" class="mt-2">FullName</div>
                <div id="Email_out" class="mt-2">Email</div>
            </div>
            <div class="col-sm-9">
                <table class="table table-hover table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th id="row1">UserName</th>
                            <th id="row2">Password</th>
                            <th id="row3">Email</th>
                            <th id="row4">Role</th>
                            <th id="row5">Edit</th>
                        </tr>
                    </thead>
                    <tbody id="content">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <!-- Modal Sửa -->
  <div class="modal fade" id="modelIdSua" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sửa Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="UserName">Username</label>
            <input type="text" class="form-control" name="" id="UserName" aria-describedby="helpId" placeholder=""
              readonly>

          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="" id="Password" aria-describedby="helpId" placeholder="">

          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="" id="Email" aria-describedby="helpId" placeholder=""
              readonly>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeSua" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="DongYSua()">Save</button>
        </div>
      </div>
    </div>
  </div>

    
    <!-- Modal Thêm-->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm nhân viên</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addUserName">UserName</label>
                        <input type="text" class="form-control" name="" id="addUserName" aria-describedby="helpId" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="addPassword">Password</label>
                        <input type="password" class="form-control" name="" id="addPassword" aria-describedby="helpId" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="addEmail">Email</label>
                        <input type="text" class="form-control" name="" id="addEmail" aria-describedby="helpId" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="addRole">Role</label>
                        <input type="text" class="form-control" name="" id="addRole" aria-describedby="helpId" placeholder="">
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close_item">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Dong_y_them()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="/js/data.js"></script>
        <script src="/js/home.js"></script>

</body>

</html>