<!doctype html>
<html lang="en">

<head>
  <title>ResetPassword</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="Password">Nhập Password mới</label>
          <input type="text" class="form-control" name="" id="Password" aria-describedby="helpId" placeholder="">
        </div>
        <label for="Re_Password">Nhập lại Password mới</label>
        <input type="text" class="form-control" name="" id="Re_Password" aria-describedby="helpId" placeholder="">
      </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        </br>
        <button type="button" class="btn btn-primary" onclick="reset_Password()">Đồng ý</button>
        <a type="button" class="btn btn-secondary" id="closeResetPassword" href="/views/index.html">Quay lại</a>
      </div>
      <div class="col-sm-4">
      </div>

    </div>
  </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/data.js"></script>
  <script src="/js/forgetPassword.js"></script>
</body>

</html>